In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# correct Diease to Disease

In [2]:
Disease_A = 2
Disease_B = 3
Disease_C = 4

In [5]:
df  = pd.read_json(path_or_buf='https://console.firebase.google.com/u/0/project/doctor-corona-a2b66/database/doctor-corona-a2b66-default-rtdb/data'
, orient=None, typ='frame', dtype=True, convert_axes=True, convert_dates=True, keep_default_dates=True, numpy=False, precise_float=False, date_unit=None, encoding=None, lines=False, chunksize=None, compression='infer')

df = df.set_index('P_id')

ValueError: Expected object or value

In [4]:
for i in range(df.shape[0]):
    x = 0
    for j in range(4,7):
        if(df.iloc[i,j]== 1):
            if(df.columns[j] == 'Disease_A'):
                x = x + Disease_A
            elif(df.columns[j] == 'Disease_B'):
                x = x + Disease_B
            else:
                x = x + Disease_C
    df['Total'][i] = x

In [5]:
df

         Name  Last Name  Age Gender  Disease_A  Disease_B  Disease_C  Total
P_id
P000  Apoorva      Reddy   72      F          1          0          1      6
P001    Shubh      Almal   45      M          1          1          0      5
P002   Khushi      Singh   49      F          1          0          0      2
P003     Arko  Mukherjee   60      M          1          1          1      9
P004  Rishabh      Singh   66      M          0          1          1      7
P005    Manav        xyz   69      M          0          0          1      4

In [10]:
df1 = df.copy()

In [11]:
a = df1.loc[df['Age']>=60].sort_values(["Total", "Age"], ascending=[False, False])
df1 = df1.drop(a.index)
a

         Name  Last Name  Age Gender  Disease_A  Disease_B  Disease_C  Total
P_id
P003     Arko  Mukherjee   60      M          1          1          1      9
P004  Rishabh      Singh   66      M          0          1          1      7
P000  Apoorva      Reddy   72      F          1          0          1      6
P005    Manav        xyz   69      M          0          0          1      4

In [12]:
b = df1.loc[df['Age']>=40].sort_values(["Total", "Age"], ascending=[False, False])

In [13]:
b

        Name Last Name  Age Gender  Disease_A  Disease_B  Disease_C  Total
P_id
P001   Shubh     Almal   45      M          1          1          0      5
P002  Khushi     Singh   49      F          1          0          0      2

In [14]:
c = pd.concat([a,b])
c

         Name  Last Name  Age Gender  Disease_A  Disease_B  Disease_C  Total
P_id
P003     Arko  Mukherjee   60      M          1          1          1      9
P004  Rishabh      Singh   66      M          0          1          1      7
P000  Apoorva      Reddy   72      F          1          0          1      6
P005    Manav        xyz   69      M          0          0          1      4
P001    Shubh      Almal   45      M          1          1          0      5
P002   Khushi      Singh   49      F          1          0          0      2

## Check for data validity

In [15]:
dff  = pd.read_json(path_or_buf='https://s41.aconvert.com/convert/p3r68-cdx67/n7zx4-dkdl2.json'
, orient=None, typ='frame', dtype=True, convert_axes=True, convert_dates=True, keep_default_dates=True, numpy=False, precise_float=False, date_unit=None, encoding=None, lines=False, chunksize=None, compression='infer')
dff =  dff.set_index("P_id")

In [16]:
z=dff.shape[0]
z

3

In [19]:
for i in range(dff.shape[0]):
    xx = 0
    for j in range(4,7):
        if(dff.iloc[i,j]== 1):
            if(dff.columns[j] == 'Disease_A'):
                xx = xx + Disease_A
            elif(dff.columns[j] == 'Disease_B'):
                xx = xx + Disease_B
            else:
                xx = xx + Disease_C
    dff['Total'][i] = xx

In [20]:
dff

       Name Last Name  Age Gender  Disease_A  Disease_B  Disease_C  Total
P_id
P006   Isha     Almal   34      F          0          1          1      7
P007  Rajat     Reddy   20      M          1          1          1      9
P008   Lodu     Singh   39      M          1          1          0      5

In [21]:
#check data validdity

for i in range(dff.shape[0]):
    if((dff['Age'][i]>30) and (dff['Total'][i]>5)):
        #r=((dff['Age'][i]>30) and (dff['Total'][i]>5))
        #new_df = pd.DataFrame(dff.iloc[i])
        new_df = pd.DataFrame(dff.iloc[i])

In [22]:
new_df=new_df.transpose()
new_df

      Name Last Name Age Gender Disease_A Disease_B Disease_C Total
P006  Isha     Almal  34      F         0         1         1     7

In [25]:
df=pd.concat([c,new_df])

In [26]:
df
df2 = df.copy()
df

         Name  Last Name Age Gender Disease_A Disease_B Disease_C Total
P003     Arko  Mukherjee  60      M         1         1         1     9
P004  Rishabh      Singh  66      M         0         1         1     7
P000  Apoorva      Reddy  72      F         1         0         1     6
P005    Manav        xyz  69      M         0         0         1     4
P001    Shubh      Almal  45      M         1         1         0     5
P002   Khushi      Singh  49      F         1         0         0     2
P006     Isha      Almal  34      F         0         1         1     7

In [27]:
pd.DataFrame(df.iloc[0]).columns
df2.iloc[0]

Name              Arko
Last Name    Mukherjee
Age                 60
Gender               M
Disease_A            1
Disease_B            1
Disease_C            1
Total                9
Name: P003, dtype: object

In [28]:
x  = df2.shape[0] # df['name'].count() - 1
while(x !=0):
    number_of_vaccine = 1
    for i in range(number_of_vaccine):
        print("Vaccine allocated to....")
        d = pd.DataFrame(df2.iloc[0]) #prints details of the patient
        print(d.iloc[0])
        
        print("..............")
        print("..............")
        df2 = df2.drop(d.columns)
        print(df2)
        print("")
        print("")
        x = x - 1
    print("COME NEXT DAY")

print("ALL VACCINE ALLOCATED")

Vaccine allocated to....
P003    Arko
Name: Name, dtype: object
..............
..............
         Name Last Name Age Gender Disease_A Disease_B Disease_C Total
P004  Rishabh     Singh  66      M         0         1         1     7
P000  Apoorva     Reddy  72      F         1         0         1     6
P005    Manav       xyz  69      M         0         0         1     4
P001    Shubh     Almal  45      M         1         1         0     5
P002   Khushi     Singh  49      F         1         0         0     2
P006     Isha     Almal  34      F         0         1         1     7


COME NEXT DAY
Vaccine allocated to....
P004    Rishabh
Name: Name, dtype: object
..............
..............
         Name Last Name Age Gender Disease_A Disease_B Disease_C Total
P000  Apoorva     Reddy  72      F         1         0         1     6
P005    Manav       xyz  69      M         0         0         1     4
P001    Shubh     Almal  45      M         1         1         0     5
P002   Khushi     Singh  49      F         1         0         0     2
P006     Isha     Almal  34      F         0         1         1     7


COME NEXT DAY
Vaccine allocated to....
P000    Apoorva
Name: Name, dtype: object
..............
..............
        Name Last Name Age Gender Disease_A Disease_B Disease_C Total
P005   Manav       xyz  69      M         0         0         1     4
P001   Shubh     Almal  45      M         1         1         0     5
P002  Khushi     Singh  49      F         1         0         0     2
P006    Isha     Almal  34      F         0         1         1     7


COME NEXT DAY
Vaccine allocated to....
P005    Manav
Name: Name, dtype: object
..............
..............
        Name Last Name Age Gender Disease_A Disease_B Disease_C Total
P001   Shubh     Almal  45      M         1         1         0     5
P002  Khushi     Singh  49      F         1         0         0     2
P006    Isha     Almal  34      F         0         1         1     7


COME NEXT DAY
Vaccine allocated to....
P001    Shubh
Name: Name, dtype: object
..............
..............
        Name Last Name Age Gender Disease_A Disease_B Disease_C Total
P002  Khushi     Singh  49      F         1         0         0     2
P006    Isha     Almal  34      F         0         1         1     7


COME NEXT DAY
Vaccine allocated to....
P002    Khushi
Name: Name, dtype: object
..............
..............
      Name Last Name Age Gender Disease_A Disease_B Disease_C Total
P006  Isha     Almal  34      F         0         1         1     7


COME NEXT DAY
Vaccine allocated to....
P006    Isha
Name: Name, dtype: object
..............
..............
Empty DataFrame
Columns: [Name, Last Name, Age, Gender, Disease_A, Disease_B, Disease_C, Total]
Index: []


COME NEXT DAY
ALL VACCINE ALLOCATED

# adding files to json

In [54]:
import json

In [55]:
def add(args):
    with open(DATA_FILENAME, mode='r', encoding='utf-8') as feedsjson:
        feeds = json.load(feedsjson)
    with open(DATA_FILENAME, mode='w', encoding='utf-8') as feedsjson:
        entry = {}
        entry['name'] = args.name
        entry['url'] = args.url
        json.dump(entry, feedsjson)

In [56]:
print(feedsjson)

NameError: name 'feedsjson' is not defined

In [57]:
import json

with open('nn.json') as f:
  data = json.load(f)

# Output: {'name': 'Bob', 'languages': ['English', 'Fench']}
print(data)

[{'P_id': 'P000', 'Name': 'Apoorva', 'Last Name': 'Reddy', 'Age': '72', 'Gender': 'F', 'Disease_A': '1', 'Disease_B': '0', 'Disease_C': '1', 'Total': '0'}, {'P_id': 'P001', 'Name': 'Shubh', 'Last Name': 'Almal', 'Age': '45', 'Gender': 'M', 'Disease_A': '1', 'Disease_B': '1', 'Disease_C': '0', 'Total': '0'}, {'P_id': 'P002', 'Name': 'Khushi', 'Last Name': 'Singh', 'Age': '49', 'Gender': 'F', 'Disease_A': '1', 'Disease_B': '0', 'Disease_C': '0', 'Total': '0'}, {'P_id': 'P003', 'Name': 'Arko', 'Last Name': 'Mukherjee', 'Age': '60', 'Gender': 'M', 'Disease_A': '1', 'Disease_B': '1', 'Disease_C': '1', 'Total': '0'}, {'P_id': 'P004', 'Name': 'Rishabh', 'Last Name': 'Singh', 'Age': '66', 'Gender': 'M', 'Disease_A': '0', 'Disease_B': '1', 'Disease_C': '1', 'Total': '0'}, {'P_id': 'P005', 'Name': 'Manav', 'Last Name': 'xyz', 'Age': '69', 'Gender': 'M', 'Disease_A': '0', 'Disease_B': '0', 'Disease_C': '1', 'Total': '0'}]

In [ ]:
person_dict =  new = {"P_id":"P010","Name":"vendy","Last Name":"pend","Age":"72","Gender":"F","Disease_A":"0","Disease_B":"0","Disease_C":"1","Total":"0"}
  

with open('person.txt', 'w') as json_file:
  json.dump(person_dict, json_file)

In [11]:
# function to add to JSON
import json
def write_json(data, filename='nn.json'):
    with open(filename,'w') as f:
        json.dump(data, f, indent=4)
      
      
with open('nn.json') as json_file:
    data = json.load(json_file)
      
    temp = data[5]
  
    # python object to be appended
    new = {"P_id":"P010","Name":"vendy","Last Name":"pend","Age":"72","Gender":"F","Disease_A":"0","Disease_B":"0","Disease_C":"1","Total":"0"}
  
    # appending data to emp_details 
    temp.append(new)
      
write_json(data)

AttributeError: 'dict' object has no attribute 'append'

In [12]:
import json

In [15]:
new =""" {"P_id":"P010","Name":"vendy","Last Name":"pend","Age":"72","Gender":"F","Disease_A":"0","Disease_B":"0","Disease_C":"1","Total":"0"}"""

In [16]:
y = json.loads(new)

In [17]:
y

{'P_id': 'P010',
 'Name': 'vendy',
 'Last Name': 'pend',
 'Age': '72',
 'Gender': 'F',
 'Disease_A': '0',
 'Disease_B': '0',
 'Disease_C': '1',
 'Total': '0'}

In [19]:
filename='nn.json'

In [20]:
json.dump(y, filename)

AttributeError: 'str' object has no attribute 'write'

In [23]:
import json

In [24]:
with open(nn.json) as f:
    new = {"P_id":"P010","Name":"vendy","Last Name":"pend","Age":"72","Gender":"F","Disease_A":"0","Disease_B":"0","Disease_C":"1","Total":"0"}

NameError: name 'nn' is not defined